#wrapper {
    display: grid;
    max-width: 100vw;
    font: normal 1em Arial;
    grid-template-areas: 
        "navBar"
        "figure"
        "main"
        "footer";
}
header {
    grid-area: navBar;
    background-color: #2e3532;
    font: normal 1.3em "Arial Rounded MT Bold";
}

a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

a:hover {
    background-color: #404945;
}

figure {
    grid-area: figure;
    margin: 0;
}

footer {
    grid-area: footer;
    background-color: #2e3532;
    color: #e0e2db;
    padding: 1em 2em;
    font: normal 1em "Arial Rounded MT Bold";
}

#navbar {
    display: flex;
    color: #e0e2db;
    margin: 0;
    padding: 0 0 0 1em;
    justify-content: flex-end;
    align-items: center;
}
#navbar > a {
    padding: 1em;
}

#home {
    margin-right: auto;
}

#navbar > img {
    height: 2em;
    width: 3em;
}

body {
    margin: 0;
}

main {
    grid-area: main;
    display: grid;
    background-color: #e0e2db;
    justify-content: space-around;
    
    /*Mobile View*/
    grid-template-columns: 100%;
}

/*Half View*/
@media screen and (min-width: 721px) {
    main {
        grid-template-columns: 47.5% 47.5%;
    }
}

/*Full View*/
@media screen and (min-width: 1086px) {
    main {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .detailBox2 {
        grid-column: auto / span 2;
    }
}

.detailBox1 {
    background-color: #d2d4c8;
    margin: 1em;
    color: #13295c;
}

.detailBox2 {
    background-color: #bc0c06;
    margin: 1em;
    color: #e0e2db;
}

h1 {
    font: bold 2em "Arial Rounded MT Bold";
    margin: 0 0 .5em 0;
}

.detailBox2 > div, .detailBox1 > div {
    padding: 1em;
}

h2 {
    font: bold 1.5em "Arial Rounded MT Bold";
    margin: 0;
    padding: 0.5em;
}

img {
    width: 100%;
}
p {
    margin: 0;
}
#footerRight {
    float: right;
    text-align: right;
}
#footerLeft {
    float: left;
}
